/* 全局变量 */
body { 
    width:960px;
    margin:0 auto; 
    font-family: 'Lato',Helvetica,Arial,sans-serif;
    font-weight: normal;
    /* background-color: #DDDDDD; */
    background-repeat: no-repeat;
    background-position: center top;
    font-size:12px;
    font-family: 'Lato',Helvetica,Arial,sans-serif;
    font-weight: normal;
}

/* h1, h2, h3, ul, ol, li, dl, dt, dd, p, form, fieldset, legend, input, img { margin:0; padding:0; } */
ul li { list-style:none; }
ul, li { margin:0; padding:0; }
a,text,ul {font-size:25px;}
a:link, a:visited { color:#333; text-decoration:none; }
a:hover { color:#2c9012; text-decoration: underline; }

/* 部分变量 */
.tel {
    background-color:#DC143C;
    /* border-color: #707070; */
    display: inline-block;
    position: relative;
    /* text-align: center; */
    width: 100%;
}

h3 {
    color: #bc2028;
}

h4 {
    color: #fff;
    margin:1.5rem 1.5rem;
}

.phone {
    text-align:left;
}

.address {
    margin-left: 50px;
    text-shadow: 2px 2px 2px #000 !important;
}

.share_list {
    /* width: 20% !important;
    margin: 0 !important; */
    /* padding: 0.5rem 1rem !important; */
    /* text-align: right !important; */
    line-height: 2rem;
    padding: .5rem 2rem;
}

.logo {
    margin-left:0;
}

.title {
    font-size:20px;
    color:#333;
    text-align:right;
    display: inline-block;
    position: relative;
    float:right;
    margin: 20px 195px;
}

.banner {
    background-image: url(../img/bgr1.jpg);
    background-size:100%;
    background-attachment: inherit;
    width:960px;
    height:500px;
    text-align:center;
}

.banner-title {
    font-size:28px;
    color:#fff;
    text-align:center;
    margin:100px auto; 
    display: inline-block;
    position: relative;
}

.About {
    width:200px;
    height:50px;
    background-color:#DC143C;
    border-color:#333;
    color:#fff;
    margin:0 auto; 
    display: inline-block;
    position: relative;
}

.ContactUs {
    width:200px;
    height:50px;
    background-color:#DC143C;
    border-color:#333;
    color:#fff;
    margin:0 auto; 
    display: inline-block;
    position: relative;
}

.banner-table{
    width:962px;
    height:150px;
    font-size:25px;
    background-color:#fff;
    text-align:center;
    color:#fff;
    margin:0 auto; 
    display: inline-block;
    position: relative;
}

#About {
    width:240px;
    height:150px;
    background-image: url(../img/1.jpg);
    background-size:100% 100%;
}

#Options {
    width:240px;
    height:150px;
    background-image: url(../img/2.jpg);
    background-size:100% 100%;
}

#Employment {
    width:240px;
    height:150px;
    background-size:480px 200px;
    background-image: url(../img/3.jpg);
    background-size:100% 100%;
}

#ContactUs {
    width:240px;
    height:150px;
    background-image: url(../img/4.jpg);
    background-size:100% 100%;
}

.content {
    width:960px;
    height:600px;
    font-size: 1.2rem;
    background-image: url(../img/bgr2.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
}

.content-int {
    width:960px;
    height:200px;
    margin-top:5px;
    margin: 0 !important;
    background-image: url(../img/light_grey.png) !important;
    background-repeat: repeat !important;
    /* opacity: 0.5; */
}

.content-ell {
    width:960px;
    height:400px;
    margin-top:5px;
}

.content-int-left {
    width:450px;
    height:250px;
    color: #ffffff;
    float:left;
    display: block;
}

.content-int-right {
    margin-left:30px;
    width:450px;
    height:250px;
    color: #ffffff;
    float:left;
    display: block;
}

.content-ell-left {
    width:30%;
    height:230px;
    float:left;
    /* padding: 1.6rem;
    overflow: auto; */
}

.content-ell-middle {
    width:30%;
    height:270px;
    float:left;
    margin-left:4%;
}

.content-ell-right {
    width:30%;
    height:320px;
    float:right;
}

.bg {
    background-color: #bc2028;
    border-radius: 5rem !important;
    border: 2px inset #BC2028 !important;
    box-shadow: 0 4px 4px -2px #000 !important;
}

.text1 {
    color:#fff;
    font-size:50%;
    font-family: Arial, Helvetica, sans-serif;
    margin:-0.5rem 1.5rem;
}

.text {
    font-size: 55%;
    line-height: 1.5;
    padding: 0.5rem 0.5rem;
    overflow: auto;
}

.text p{
    color:#333;
    margin: 0;
    margin: -3px 2px 1px 10px;
}

.contactUs {
    margin-top:20px;
    background-image: url(../img/mainbgr.jpg) !important;
    background-size:100%;
    background-attachment: inherit;
    width:960px;
    height:600px;
}

.contactUs h3 {
    font-size:200%;
}

label {
    font-size:120%;
    color:#333;
}

label {
    font-size:150%;
    margin-top:10px;
    margin-left:10px;
}

input {
    width:30rem;
    height:2rem;
    margin-top:30px;
}

.cu {
    margin-top:10px;
}

.cu1 {
    margin-top:10px;
}

.note {
    width:10rem;
    height:2rem;
}

.submit {
    width:10rem;
    height:2rem;
    margin-top:20px;
    border:#333 solid;
    border-radius: 2rem;
    border-color: #bc2028;
    background-color: #bc2028;
    margin:25px 100px;
}

.submit label {
    color:#fff;
}

.radio {
    width:20px;
    height:20px;
}

.bottom {
    margin-top:60px;
}

.bottom-center {
    margin:auto 0;
}

.bottom-left {
    float:left;
}
.bottom-right {
    float:right;
}