li#field_2_2 input, li#field_2_3 input, #gform_fields_2, li#field_3_3 input, li#field_3_4 input {width:100% !important;}

li#field_3_3, li#field_3_4, body:not(.home) .section:not(.w232) li#field_2_2, body:not(.home) .section:not(.w232) li#field_2_3, body:not(.home) #container .section:not(.w232) .the_list_item .gform_wrapper .ginput_complex .name_first, body:not(.home) #container .section:not(.w232) .the_list_item .gform_wrapper .ginput_complex .name_last {width: 47% !important;  display: inline-grid!important;  margin-right: 0.8rem !important;}

#container .the_list_item .the_list_item_desc ol li, #container .the_list_item .the_list_item_desc ul li{position:static!important;}

ul.columns {columns: 3; -webkit-columns: 3; -moz-columns: 3;}

ul.columns2 {columns: 2; -webkit-columns: 2; -moz-columns: 2;}

ol.columns {columns: 3; -webkit-columns: 3; -moz-columns: 3;}

ol.columns2 {columns: 2; -webkit-columns: 2; -moz-columns: 2;}



#cta {
    font-size: 2rem !important;
    margin-right: 2rem !important;
    color: gray !important;
}

#the_header .slot-type-image {
  margin-left: 6rem !important;
}

.page-id-354 .the_list_wrap .the_list_item_heads {display: block !important; margin: 0 auto !important; text-align: center !important; width: 100% !important;}

.page-id-354 .the_list_wrap .the_list_item_action a {display: block !important; margin: 0 auto !important; text-align: center !important;}
.page-id-354 .the_list_wrap .the_list_item_action {display: block !important; margin: 0 auto !important; text-align: center !important;}

.page-id-354 #container .section .list_block .the_list_item.hero {width: 100% !important;}

.footer-street-address.footer-address, .footer-city-state-zip-address.footer-address, .footer-phone-address.footer-address{
  display: none !important;
}

body {
background-attachment: fixed !important;
}

#the_header {
box-shadow: 0 1px 5px -2px #000 !important;
}

.home #wrapper #container .full_width_content {
margin-top: -4rem !important;
background: rgba(255, 255, 255, 0) !important;
max-width: 100% !important;
margin-right: auto !important;
margin-left: auto !important;
}

#headline1 {
text-shadow: 2px 2px 2px #000 !important;
color: #FFF !important;
font-size: 8rem !important;
}

#headline2 {
text-shadow: 2px 2px 2px #000 !important;
color: #FFF !important;
font-size: 7rem !important;
}

#heart {
text-shadow: 2px 2px 2px #000 !important;
font-size: 9rem !important;
}

.tsidesign_dl {
text-align: center !important;
padding: 30rem 5rem 5rem !important;
margin: 0 auto !important;
background-image: url('http://pandahomecare.townsquareinteractive.com/files/2015/12/bgr1.jpg') !important;
background-repeat: no-repeat !important;
background-size: cover !important;
background-position: center center !important;
background-attachment: fixed !important;
min-height: 60rem !important;
}

.tsidesign_feature {
margin: 0 auto !important;
padding: 0 !important;
}

.tsidesign_feature .the_list_item .the_list_item_heads {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.4) !important;
}

.tsidesign_feature .the_list_item:hover .the_list_item_heads {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.6) !important;
    transition:all 0.3s ease !important;
}

.tsidesign_feature .the_list_item_headline {
font-size: 2.4rem !important;
}

.tsidesign_feature .the_list_item {
margin-bottom: 0 !important;
margin-right: 0 !important;
width: 25% !important;
}

.tsidesign_content1 {
margin: 0 !important;
background-image: url('http://pandahomecare.townsquareinteractive.com/files/2015/12/light_grey.png') !important;
background-repeat: repeat !important;
}

.tsidesign_content2 {
padding-top: 20% !important;
margin: 0 auto !important;
background-image: url('http://pandahomecare.townsquareinteractive.com/files/2015/12/bgr2.jpg') !important;
background-repeat: no-repeat !important;
background-size: cover !important;
background-position: center center !important;
background-attachment: fixed !important;
min-height: 30rem !important;
}

.tsidesign_content2 .the_list_item_headline {
text-align: center !important;
}

.tsidesign_content2 .the_list_wrap {
border-radius: 5rem !important;
border: 2px inset #BC2028 !important;
box-shadow: 0 4px 4px -2px #000 !important;
}

.home #container .w1060 .column_amt_1 .the_list_item {
    margin-bottom: 0 !important;
}

#the_footer {
  max-width:100% !important;
}

#the_footer #_the_copyright, #the_footer .section {
max-width: 134rem !important;
margin-right: auto !important;
margin-left: auto !important;
}

.footer_brand {
display: none !important;
}

.test1 {
margin-right:5px  !important;
padding-top: 5px !important;
padding-bottom: 5px !important;
width: 150px !important;
 border-radius:2px;
 font-size:20px;
 background-color:#BC2028 ;
 padding: 6px 22px 6px 22px;
 text-decoration: none !important;
 text-align: center;
color: #fff !important;
border: 2px solid #BC2028 !important;
}
.test1:hover {
border: 2px solid #BA0000 !important;
    transition:all 0.3s ease !important;
 background-color:#BA0000  !important;
}

.test2 {
margin-left:5px  !important;
padding-top: 5px !important;
padding-bottom: 5px !important;
width: 100px !important;
 border-radius:2px;
 font-size:20px;
 background-color:rgba(188, 32, 40,0.5)!important;
 padding: 6px 22px 6px 22px;
 text-decoration: none !important;
 text-align: center;
color: #FFF !important;
border: 2px solid #BC2028 !important;
}
.test2:hover {
    transition:all 0.3s ease !important;
 background-color:#BC2028  !important;
}

@media(max-width:500px) {
.test1, .test2 {
 font-size:12px !important;
}
}

@media(max-width: 800px) {
.tsidesign_dl {
padding: 10rem 5rem 5rem !important;
background-attachment:scroll !important;
min-height: 20rem !important;
}
#headline1 {
text-shadow: 2px 2px 2px #000 !important;
color: #FFF !important;
font-size: 3rem !important;
}
#headline2 {
text-shadow: 2px 2px 2px #000 !important;
color: #FFF !important;
font-size: 3rem !important;
}
#heart {
text-shadow: 2px 2px 2px #000 !important;
font-size: 3rem !important;
}
.tsidesign_feature .the_list_item {
margin-bottom: 0 !important;
margin-right: 0 !important;
width: 50% !important;
}
.tsidesign_feature .the_list_item_headline {
font-size: 1.4rem !important;
}
}

.big_center {
    width: 80% !important;
    display: inline-block;
    text-align: center;
    font-size: 2rem !important;
    text-transform: capitalize !important;
    font-weight: 700 !important;
}

#the_header a.phone {
    width: 10% !important;
    margin: 0 !important;
    padding: 0.5rem 0rem !important;
}






@media(min-width:800px) {
html:not(.mobileview) .header_share_wrap.dropdown-list {
    display: inline-block;
    position: relative;
    text-align: center;
    width: 100%;
}
  
#the_header a.phone {
    width: 20% !important;
    margin: 0 !important;
    padding: 0.5rem 1rem !important;
    text-align: left;
}
  
.big_center {
    width: 59% !important;
    display: inline-block;
    text-align: center;
    font-size: 2rem !important;
    text-transform: capitalize !important;
    font-weight: 700 !important;
    margin: 0 !important;
    padding: 0 !important;
}  

#the_header ul.share_list {
    width: 20% !important;
    margin: 0 !important;
    padding: 0.5rem 1rem !important;
    text-align: right !important;
}

}

@keyframes flashing {
    0% {color: #808080;opacity:1;}
    50% {color: #ffffff;}
    100% {color: #808080;}
}

@-webkit-keyframes flashing {
    0% {color: #808080;opacity:1;}
    50% {color: #ffffff;}
    100% {color: #808080;}
}

@-moz-keyframes flashing {
    0% {color: #808080;opacity:1;}
    50% {color: #ffffff;}
    100% {color: #808080;}
}

@-ms-keyframes flashing {
    0% {color: #808080;opacity:1;}
    50% {color: #ffffff;}
    100% {color: #808080;}
}

@-o-keyframes flashing {
    0% {color: #808080;opacity:1;}
    50% {color: #ffffff;}
    100% {color: #808080;}
}

@-webkit-keyframes flashing {
    0% {color: #808080;opacity:1;}
    50% {color: #ffffff;}
    100% {color: #808080;}
}

.big_center span {
-webkit-animation: flashing 3s infinite;
-moz-animation: flashing 3s infinite;
-o-animation: flashing 3s infinite;
-ms-animation: flashing 3s infinite;
animation: flashing 3s infinite;

}